<!doctype html>
<html lang="en">
    <head>    

        <title>{{ if .Title }}{{ $.Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ .Params.excerpt }}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10)).Permalink }}">
        {{ if .Site.Params.favicon }}
        <link rel="icon" href="{{ $.Site.Params.favicon | relURL }}">
        {{ end }}
        
    </head>
    <body class="palette-{{ .Site.Params.palette }}">
        
        <div id="page" class="site">
          {{ partial "header.html" . }}
          <main id="content" class="site-content">
            {{ block "content" . }}{{ end }}
          </main><!-- .site-content -->
          {{ partial "footer.html" . }}
        </div><!-- .site -->
        <!-- Scripts -->
        <script src="{{ "assets/js/plugins.js" | relURL }}"></script>
        <script src="{{ "assets/js/main.js" | relURL }}"></script>
        <script src="{{ "assets/js/page-load.js" | relURL }}"></script>
    </body> 
</html>
