{{ $actions := .actions }}
{{ range $action := $actions }}
<a href="{{ $action.url | relURL }}"
  {{ if $action.new_window }} target="_blank"{{ end }}
  {{ if or $action.new_window $action.no_follow }} rel="{{ if $action.new_window }}noopener {{ end }}{{ if $action.no_follow }}nofollow{{ end }}"{{ end }}
  class="{{ if or (eq $action.style "primary") (eq $action.style "secondary") }}button{{ end }}{{ if eq $action.style "secondary" }} button-secondary{{ end }}">{{ $action.label }}</a>
{{ end }}
