{{ $section := .section }}
<section id="{{ $section.section_id }}" class="block block-hero has-gradient outer">
  {{ if $section.image }}
  <div class="bg-img" style="background-image: url('{{ $section.image | relURL }}')"></div>
  {{ end }}
  <div class="inner-sm">
    {{ if $section.title }}
    <div class="block-header">
      <h1 class="block-title">{{ $section.title }}</h1>
    </div>
    {{ end }}
    {{ if $section.content }}
    <div class="block-content">
      {{ partial "markdownify-block" $section.content }}
    </div>
    {{ end }}
    {{ if $section.actions }}
    <div class="block-buttons">
      {{ $include_dict := dict "actions" $section.actions }}
      {{ partial "cta_buttons.html" $include_dict }}
    </div>
    {{ end }}
  </div>
</section><!-- .block -->
